<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>foot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{36,24}}</string>
			<key>offset</key>
			<string>{-18.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{26,24}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
		<key>foot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,2},{24,20}}</string>
			<key>offset</key>
			<string>{-5.5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,8},{24,20}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
		<key>foot3.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,24},{22,17}}</string>
			<key>offset</key>
			<string>{3.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,10},{22,17}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
		<key>foot4.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,43},{20,15}}</string>
			<key>offset</key>
			<string>{11.5,-3.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,12},{20,15}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
		<key>foot5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,43},{16,17}}</string>
			<key>offset</key>
			<string>{22.5,-2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,10},{16,17}}</string>
			<key>sourceSize</key>
			<string>{67,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>runningfeet.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:01c7c27e2b0ade6941a0750252314ef8$</string>
		<key>textureFileName</key>
		<string>runningfeet.png</string>
	</dict>
</dict>
</plist>
